@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  padding: 17px 16px;
  color: white;
}

.link:hover {
  background-color: rgb(209, 213, 219);
  padding: 17px 16px;
  color: black;
}
