@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  padding: 17px 16px;
  color: white;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  right: 8rem;
  top: 2.7rem;
  z-index: 10;
}

.link:hover {
  background-color: rgb(209, 213, 219);
  padding: 17px 16px;
  color: black;
}
